<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    </head>
    <body>
    {% include '_layouts/navbar.liquid' %}

    <div class="main">
      {{ page.content }}
    </div>

    {% include '_layouts/footer.liquid' %}
  </body>
</html>
