<!DOCTYPE html>
<html>
    <head>
        {% include '_layouts/head-tags.liquid' %}
        <title>{{ page.title }}</title>
    </head>
    <body>
    {% include '_layouts/navbar.liquid' %}

    <div class="main">
      {{ page.content }}
    </div>

    {% include '_layouts/footer.liquid' %}
  </body>
</html>
