<footer>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Creative Commons contract"
            style="border-width:0" 
            src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a><br />
    Ce(tte) œuvre est mise à disposition selon les termes de la<br />
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        Licence Creative Commons Attribution 4.0 International.
    </a>.

    <nav>
        <ul>
            <li><a href="/rss.xml">RSS</a></li>
            <li><a href="/feed.json">JSON Feed</a></li>
        </ul>
    </nav>
</footer>