<nav>
    <ul>
        <li><a href="/fr/index.html">Accueil</a></li>
        <li><a href="/fr/about.html">À propos</a></li>
        <li><a href="/fr/contact.html">Contactez</a></li>
        <li><a href="https://github.com/faith-rodeo/faith-rodeo.github.io">Source</a></li>
        <li><a href="/">en</a></li>
    </ul>
</nav>